/* include header.css */


.story-container {
  width: 80%;
  margin: 20px auto;
}

.story-container h2 {
  letter-spacing: 2px;
  font-family: 'Raleway', sans-serif;
  color: rgb(221, 20, 8);
  text-align: center;
  padding-top: 20px;
}

.story-container p {
  color: rgb(69, 69, 69);
  text-align: justify;
  line-height: 1.5;
  padding: 10px 0 0;
}

.story-container p:last-child {
  padding-bottom: 40px;
}


/* slideshow */
#slider1_container {
  position: relative;
  top: 0px;
  left: 0px;
  width: 600px;
  height: 300px;
  margin: 45px auto 35px;
  box-shadow: 0px 0px 25px 0px rgb(152, 152, 152);
}

.slides {
  cursor: move;
  position: absolute;
  overflow: hidden;
  left: 0px;
  top: 0px;
  width: 600px;
  height: 300px;
}

/* arrows left and right on slideshow*/
.jssora01l {
  top: 123px;
  left: 8px;
}
.jssora01r {
  top: 123px;
  right: 8px;
}


@media (max-width: 767px) {
  .story-container h2 {
    font-size: 1.5em;
    padding: 0;
  }
}

