

.container {
  display: flex;
  justify-content: center;
}

.story {
  height: 150px;
  width: 150px;
  margin: 20px 25px 50px;
}

.story:hover {
  border-radius: 5px;
  transform: scale(1.1);
  transition: .2s ease;
}

.story a {
  text-decoration: none;
}

.story a:hover {
  text-decoration: none;
}

.story img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.story h4 {
  text-align: center;
  font-size: 1.2em;
  color: rgb(152, 63, 63);
}
