/* include header.css */


.story-container {
  width: 80%;
  margin: 20px auto;
}

/*img.story_container {
  display: flex;
  justify-content: center;
  align-items: center;
}*/

h2 {
  letter-spacing: 2px;
  font-family: 'Raleway', sans-serif;
  color: rgb(221, 20, 8);
  text-align: center;
  padding-top: 20px;
}

p {
  color: rgb(69, 69, 69);
  text-align: justify;
}

p:last-child {
  padding-bottom: 40px;
}


/* Trying styles for slideshow*/

#slider1_container {
  position: relative;
  top: 0px;
  left: 0px;
  width: 600px;
  height: 300px;
  margin: 35px auto;
  box-shadow: 0px 0px 25px 0px rgb(152, 152, 152);
}

.slides {
  cursor: move;
  position: absolute;
  overflow: hidden;
  left: 0px;
  top: 0px;
  width: 600px;
  height: 300px;
}

/* arrows left and right */
.jssora01l {
  top: 123px;
  left: 8px;
}
.jssora01r {
  top: 123px;
  right: 8px;
}



