
.main-container {
  width: 75%;
  margin: 0 auto;
  color: rgb(69, 69, 69);
}

.main-container h1 {
  color: rgb(148, 83, 83);
  text-align: center;
  font-weight: 200;
  letter-spacing: 2px;
  margin-top: 70px;
}

h2 {
  color: rgb(160, 153, 78);
  font-size: 1.3em;
  text-align: center;
  padding-bottom: 25px;
  letter-spacing: 2px;
}

.paragraph {
  width: 75%;
  margin: 0 auto;
}

p {
  text-align: justify;
  line-height: 1.6;
}

p:last-child  {
  padding-bottom: 50px;
}

h2 a {
  text-decoration: none;
  color: rgb(240, 150, 85);
  font-weight: bold;
}

h2 a:hover {
  color: rgb(202, 90, 9);
  border-bottom: 1px solid;
}
