
.main-container {
  margin: 0 auto;
  color: rgb(69, 69, 69);
  margin-top: 70px;
}

.main-container h1,
h3 {
  color: rgb(118, 118, 117);
  text-align: center;
  font-weight: 200;
  letter-spacing: 2px;
}

h2 {
  color: rgb(160, 153, 78);
  font-size: 1.3em;
  text-align: center;
  padding-bottom: 25px;
  letter-spacing: 2px;
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
}

.paragraph {
  width: 75%;
  margin: 0 auto;
}

p {
  text-align: justify;
  line-height: 1.6;
}

p:last-child  {
  padding-bottom: 30px;
}

h2 a {
  text-decoration: none;
  color: rgb(221, 20, 8);
  font-size: 0.9em;
}

h2 a:hover {
  color: rgb(232, 130, 116);
  border-bottom: 1px solid;
}

.main-container img {
  margin: 0 auto 30px;
  display: block;
  border-radius: 5px;
  width: 40%;
}




@media (min-width: 1025px) {
  .main-container {
    width: 75%;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 1.7em;
  }
}
