

.main {
  overflow: auto;
  margin-top: 40px;
}

.inner-container {
  width: 80%;
  margin: 0 auto;
}

.congrats h3 {
  letter-spacing: 3px;
  font-size: 1.6em;
  color: rgb(221, 20, 8);
  text-align: center;
  margin: 40px 0 30px;
  font-family: 'Raleway', sans-serif;
}

.congrats {
  float: left;
  padding-bottom: 40px;
}

.congrats p {
  color: rgb(69, 69, 69);
  text-align: justify;
  width: 85%;
  margin: 0 auto;
  padding: 10px 0;
  line-height: 1.5;
}

.emphasis {
  color: rgb(160, 159, 157);
  font-size: 1em;
  text-align: center;
  display: block;
  padding: 20px;
  letter-spacing: 2px;
  font-family: 'Raleway', sans-serif;
  width: 80%;
  margin: 0 auto;
}

p:last-child {
  padding: 25px 0;
}

/* Trying styles for slideshow*/

#slider1_container {
  position: relative;
  top: 0px;
  left: 0px;
  width: 600px;
  height: 300px;
  margin: 0 auto;
  box-shadow: 0px 0px 25px 0px rgb(152, 152, 152);
  /*box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
}

.slides {
  cursor: move;
  position: absolute;
  overflow: hidden;
  left: 0px;
  top: 0px;
  width: 600px;
  height: 300px;
}

/* jssor slider arrow navigator skin 01 css */
/*
.jssora01l                  (normal)
.jssora01r                  (normal)
.jssora01l:hover            (normal mouseover)
.jssora01r:hover            (normal mouseover)
.jssora01l.jssora01ldn      (mousedown)
.jssora01r.jssora01rdn      (mousedown)
*/
.jssora01l, .jssora01r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 45px;
    height: 45px;
    cursor: pointer;
    background: url(images/a01.png) no-repeat;
    overflow: hidden;
}
.jssora01l { background-position: -8px -38px; }
.jssora01r { background-position: -68px -38px; }

.jssora01l:hover { background-position: -128px -38px; }
.jssora01r:hover { background-position: -188px -38px; }
.jssora01l.jssora01ldn { background-position: -8px -38px; }
.jssora01r.jssora01rdn { background-position: -68px -38px; }

/* arrows left and right */
.jssora01l {
  top: 123px;
  left: 8px;
}
.jssora01r {
  top: 123px;
  right: 8px;
}




@media (max-width: 767px) {
  .main {
    margin-top: 25px;
  }
  .emphasis {
    padding: 5px 0;
  }
  .congrats h3 {
    margin: 35px 0 5px;
    letter-spacing: 0;
  }
  .congrats p {
    width: 100%;
  }
}
