/* include header.css */



/* main */


.main {
  overflow: auto;
  margin-top: 40px;
}


.inner-container {
  width: 80%;
  margin: 0 auto;
}

.image {
  display: inline-block;
  float: left;
  margin-right: 15px;
  width: 60%;
}

.image img {
  border-radius: 5px;
  width: 100%;
 }

h3 {
  letter-spacing: 3px;
  font-size: 1.4em;
  color: rgb(160, 153, 78);
  text-align: center;
  margin-bottom: 30px;
}

.congrats {
  float: left;
  padding-bottom: 40px;
}

p {
  color: rgb(69, 69, 69);
  text-align: justify;
}

.emphasis {
  font-style: italic;
  color: rgb(255, 155, 0);
  font-size: 1.1em;
}

p:last-child {
  padding: 25px 0;
}

