body {
  background-color: rgb(244, 237, 210);
  font-family: 'Lato', sans-serif;
}

.wrapper {
  width: 95%;
  background-color: white;
  margin: 30px auto 50px;
  border: 2px solid rgb(255, 155, 0);
  border-radius: 5px;
}

.logo {
  float: left;
  padding-bottom: 15px;
}

img#logo_star  {
  margin: 10px;
}

img#logo_name {
  float: right;
  padding-top: 45px;
  width: 60%;
}


/* header and navbar */

.menu {
  text-transform: uppercase;
  clear: both;
  width: 70%;
  margin: 0 auto 15px;
  text-align: center;
}

.menu li {
  display: inline-block;
  padding: 0 10px 10px;
  font-size: 0.9em;
  letter-spacing: 1px;
}

.menu li a {
  text-decoration: none;
  color: rgb(255, 165, 0);
}

.navbar a:hover {
  color: rgb(61, 151, 175);
}

.blog {
  position: relative;
}

.blog:after {
  content: "\25bc";
  font-size: 0.3em;
  display: block;
  position: absolute;
  top: 15%;
  right: 0%;
  color: rgb(249, 202, 130);
}

.blog_dropdown {
  display: none;
  position: absolute;
  background: rgb(250, 237, 218);
  padding: 15px 0 5px;
  border-radius: 5px;
}

.blog:hover > .blog_dropdown {
  display: block;
}

.blog > .blog_dropdown li {
  text-transform: none;
  float: left;
}

.blog_dropdown a:hover {
  color: rgb(61, 151, 175);
}

hr {
  width: 90%;
  border-bottom: 1px solid rgb(255, 155, 0);
  margin-top: -3px;
}


/* ----- footer ----- */

footer {
  font-family: fantasy;
  width: 50%;
  margin: 0 auto;
}

p.qoute {
  text-align: center;
  font-style: italic;

}

p.author {
  text-align: right;
  font-size: 0.8 em;
}








@media (min-width: 979px) and (max-width: 1024px) {
  img#logo_star {
    width: 30%;
  }

  img#logo_name {
    width: 45%;
    padding: 55px 181px 0 0;
    }

  .menu {
    width: 80%;
  }

  .menu li {
    font-size: 0.8em;
  }

}

@media (min-width: 768px) and (max-width: 978px) {
  img#logo_star {
    width: 30%;
  }

  img#logo_name {
    width: 45%;
    padding: 60px 140px 0 0;
  }

  .menu {
    width: 90%
  }

  .menu li {
    font-size: 0.7em;
  }

}




















