body {
  background-color: rgb(244, 237, 210);
  font-family: 'Lato', sans-serif;
}

.wrapper {
  width: 90%;
  background-color: white;
  margin: 30px auto 50px;
  border: 2px solid rgb(255, 155, 0);
  border-radius: 5px;
}

.logo {
  float: left;
  padding-bottom: 15px;
}

img#logo-star  {
    margin: 10px 0 0 10px;
    width: 32%;
}

img#logo-name {
  float: right;
  width: 60%;
  position: relative;
  width: 45%;
  padding: 65px 181px 0 0;
}


/* header and navbar */

.menu {
  text-transform: uppercase;
  clear: both;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-left: 0;
}

.menu li {
  display: inline-block;
  padding: 0 20px 10px;
  font-size: 0.9em;
  letter-spacing: 1px;
}

.menu li a {
  text-decoration: none;
  color: rgb(255, 165, 0);
}

.navbar a:hover {
  color: rgb(202, 90, 9);
}

.blog,
.photo {
  position: relative;
}

.blog:after,
.photo:after {
  content: "\25bc";
  font-size: 0.3em;
  display: block;
  position: absolute;
  top: 15%;
  right: 10%;
  color: rgb(249, 202, 130);
}

.photo:after {
  position: absolute;
  top: 48%;
  right: 4%;
}

.blog-dropdown {
  display: none;
  position: absolute;
  background: rgb(250, 237, 218);
  padding: 15px 0 5px;
  border-radius: 2px;
  z-index: 5;
}

.blog:hover > .blog-dropdown {
  display: block;
}

.blog > .blog-dropdown li {
  text-transform: none;
  float: left;
  font-size: 1.1em;
}

.blog-dropdown a:hover {
  color: rgb(202, 90, 9);
}

hr {
  width: 90%;
  border-bottom: 1px solid rgb(255, 155, 0);
  margin-top: -3px;
}


/* ----- footer ----- */

footer {
  font-family: fantasy;
  width: 50%;
  margin: 0 auto;
}

footer p {
  text-align: center;
}

p.qoute {
  font-style: italic;

}

p.author {
  font-size: 0.8 em;
}








@media (min-width: 979px) and (max-width: 1024px) {
  img#logo-star {
    width: 30%;
  }

  img#logo-name {
    width: 45%;
    padding: 55px 181px 0 0;
    }

  .menu {
    width: 80%;
  }

  .menu li {
    font-size: 0.8em;
  }

}

@media (min-width: 768px) and (max-width: 978px) {
  img#logo-star {
    width: 30%;
  }

  img#logo-name {
    width: 45%;
    padding: 45px 140px 0 0;
  }

  .menu {
    width: 90%
  }

  .menu li {
    font-size: 0.8em;
  }

  @media (max-width: 767px) {
    .menu li {
      padding: 0px 10px 10px;
      font-size: 0.7em;
    }
  }


}




















