/* include header.css */


.main-container {
  width: 85%;
  margin: 0 auto;
  color: rgb(69, 69, 69);
}

.main-container hr {
  width: 100%;
  border-bottom: 1px solid rgb(234, 233, 231);
}

.main-container h1 {
  color: rgb(118, 118, 117);
  text-align: center;
  font-weight: 200;
  letter-spacing: 2px;
  margin-top: 70px;
}

h2 {
  color: rgb(218, 127, 51);
  font-size: 1.3em;
  font-family: 'Raleway', sans-serif;
}

p {
  text-align: justify;
}

p:last-child  {
  padding-bottom: 50px;
}

p a {
  text-decoration: none;
  color: rgb(218, 127, 51);
  font-weight: bold;
}

p a:hover {
  color: rgb(221, 20, 8);
  border-bottom: 1px solid;
}

/* packages specific */

h3 {
  margin-top: 40px;
  color: rgb(119, 117, 117);
  font-size: 1.1em;
}


