/* include header.css */

.main_container {
  width: 85%;
  margin: 0 auto;
  color: rgb(69, 69, 69);
}

.main_container hr {
  width: 100%;
  border-bottom: 1px solid rgb(255, 155, 0);
}

.main_container h1 {
  color: rgb(148, 83, 83);
  text-align: center;
  font-weight: 200;
  letter-spacing: 2px;
  margin-top: 70px;
}

h2 {
  color: rgb(160, 153, 78);
  font-size: 1.3em;
}

p {
  text-align: justify;
}

p:last-child  {
  padding-bottom: 50px;
}

p a {
  text-decoration: none;
  color: rgb(240, 150, 85);
  font-weight: bold;
}

p a:hover {
  color: rgb(144, 23, 144);
  border-bottom: 1px solid;
}

/* packages specific */

h3 {
  margin-top: 60px;
  color: rgb(131, 28, 131);
}


